build/
build-*/
out/
advancedfx/build/
advancedfx/build-*/
advancedfx/out/
advancedfx/_deps/
advancedfx/shaders/build/
advancedfx/ShaderBuilder/obj/
advancedfx/deps/release/prop/tools/nasm/
advancedfx/deps/release/halflife/linux/
advancedfx/deps/release/halflife/utils/serverctrl/res/*.ico
advancedfx/deps/release/halflife/utils/qlumpy/*.doc
advancedfx/deps/release/halflife/utils/sprgen/*.spr
advancedfx/hlae/app.ico
advancedfx/misc/hexfont.xcf
stage/
Release/
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.obj
tools/*.exe
tools/*.dll
*.tlog/
l4n_hlae_plugin.ini
*.log
